<%- include("partials/header") %>

<div class="center">
    <h1>Rubik's Cube</h1>
    <a role="button" href="/guest" class="btn btn-secondary">Guest</a>
    <a role="button" href="/login" class="btn btn-info">Login</a>
    <a role="button" href="/register" class="btn btn-primary">Register</a>
</div>
<%- include("partials/footer") %>